:root {
    /* Colors */
    --clr-primary: hsl(338, 44%, 55%);
    --clr-secondary: hsl(11, 62%, 15%);
    --clr-third: hsl(338, 21%, 57%);
    --clr-fourth: hsl(306, 11%, 61%);
    --clr-text: hsl(32, 44%, 17%);
    --clr-text2: hsl(17, 40%, 34%);

    /* Font Sizes */
    --fs-h1: 3.815rem;
    --fs-h2: 3.052rem;
    --fs-h3: 2.441rem;
    --fs-h4: 1.953rem;
    --fs-h5: 1.563rem;
    --fs-h6: 1.25rem;
    --fs-small: 0.8rem;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: var(--clr-text);
    font-size: var(--fs-h6);
    line-height: 1.5;
    background-color: var(--clr-fourth);
}
html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
}

/* Header Section */
header > div{
    width: 100%;
    height: 80%;
    padding: 5px 5px;
    background-color: var(--clr-third);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 90px;
    width: auto;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--fs-h6);
    color: var(--clr-text);
}


.navbar a:hover {
    color: var(--clr-primary);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar a {
    font-size: var(--fs-h6);
    color: var(--clr-text);
    font-weight: 500;
    text-decoration: none;
    margin: 5px 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
    text-align: center;
}

h3 {
    font-size: var(--fs-h3);
}

/* Main Section */
main {
    width: 100%;
}

section {
    padding: 1rem;
    font-weight: 500;
    text-align: center;
}

/* Projects */
.projects {
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title title"
    "image  text";
    gap: 2rem;
    align-items: center;
    background-color: var(--clr-fourth);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.25) 0px 5px 15px;
}

.projects nav h3 {
    grid-area: title;
    text-align: center;
    margin-bottom: 0.75rem;
}

.projects nav p {
    grid-area: text;
    margin-top: 0.5rem;
    color: var(--clr-text2)
}

.projects img {
    grid-area: image;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer Section */
footer {
    width: 100%;
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: var(--clr-third);
    color: var(--clr-text);
    align-items: center;
    text-align: center;
}

footer a {
    color: var(--clr-text2);
    text-decoration: none;
}

footer ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--clr-primary);
}

.upper-arrow {
    padding: 1em 1.5em;
    background-color: var(--clr-secondary);
    font-weight: 600;
    font-size: large;
    position: fixed;
    bottom: 0;
    right: 0;
}